<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fly.mapping.UserMapper" >
  <resultMap id="BaseResultMap" type="com.fly.model.User" >
    <id column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="zmxy" property="zmxy" jdbcType="INTEGER" />
    <result column="isChange" property="ischange" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userId, origin, nickname, balance, sex, phone, zmxy, isChange, password, headimgurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userId = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where userId = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fly.model.User" >
    insert into user (userId, origin, nickname, 
      balance, sex, phone, 
      zmxy, isChange, password, 
      headimgurl)
    values (#{userid,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{balance,jdbcType=INTEGER}, #{sex,jdbcType=TINYINT}, #{phone,jdbcType=VARCHAR}, 
      #{zmxy,jdbcType=INTEGER}, #{ischange,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{headimgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fly.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userId,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="zmxy != null" >
        zmxy,
      </if>
      <if test="ischange != null" >
        isChange,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="headimgurl != null" >
        headimgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="zmxy != null" >
        #{zmxy,jdbcType=INTEGER},
      </if>
      <if test="ischange != null" >
        #{ischange,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        #{headimgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fly.model.User" >
    update user
    <set >
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="zmxy != null" >
        zmxy = #{zmxy,jdbcType=INTEGER},
      </if>
      <if test="ischange != null" >
        isChange = #{ischange,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fly.model.User" >
    update user
    set origin = #{origin,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=INTEGER},
      sex = #{sex,jdbcType=TINYINT},
      phone = #{phone,jdbcType=VARCHAR},
      zmxy = #{zmxy,jdbcType=INTEGER},
      isChange = #{ischange,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
  
   <select id="findAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user
  </select>
</mapper>