<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd" 
        xmlns:task="http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-4.1.xsd" >

    <!--注解说明 -->
	<context:annotation-config />
	    
	<!-- 启用spring mvc 注解 -->
	<mvc:annotation-driven/>

	<!-- 自动扫描的包名 ，使Spring支持自动检测组件，如注解的Controller -->
	<context:component-scan base-package="com.fly" />

	<!-- 如果当前请求为"/"时，则转发到"/home/hello" -->
	<mvc:view-controller path="/" view-name="forward:/home/index"/>
	<!-- <mvc:view-controller path="/admin" view-name="forward:/admin/admin"/> -->
	<!-- <mvc:view-controller path="/" view-name="forward:/index"/> -->
	
	<!-- 静态资源映射 -->
    <!-- <mvc:resources mapping="/js/**" location="/WEB-INF/js/" />
    <mvc:resources mapping="/css/**" location="/WEB-INF/css/" />
    <mvc:resources mapping="/fonts/**" location="/WEB-INF/fonts/" />
    <mvc:resources mapping="/plugins/**" location="/WEB-INF/plugins/" />
    <mvc:resources mapping="images/**" location="/WEB-INF/images/" /> -->
 	
	<!-- 视图解析器:定义跳转的文件的前后缀 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
   		<property name="contentType" value="text/html"/>
		<!-- <property name="prefix" value="/WEB-INF/view/" /> -->
		<!-- <property name="prefix" value="/WEB-INF/jsp/" /> -->
		<property name="prefix" value="/WEB-INF/fly/" />
		<property name="suffix" value=".jsp" />  <!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="adminContextInterceptor"/>
				<ref bean="adminLocaleIntercept"/>
				<!-- <ref bean="fireWallInterceptor"/> -->
			</list>
		</property>
	</bean>
	
	
	<!-- CMS上下文信息拦截器  包括登录信息、权限信息、站点信息 -->
	<bean id="adminContextInterceptor" class="com.fly.common.web.AdminContextInterceptor">
		<!-- <property name="auth" value="true"/> -->
		<!-- <property name="excludeUrls">
			<list>
				<value>/login.do</value>
				<value>/logout.do</value>
			</list>
		</property> -->
	</bean>
	
	<!-- 后台（管理员）本地化信息拦截器 -->
	<bean id="adminLocaleIntercept" class="com.fly.common.web.AdminLocaleInterceptor"/>
	
	<!--配置拦截器, 多个拦截器,顺序执行 --> 
	<!--<mvc:interceptors>  
		<mvc:interceptor>  
			
				/**的意思是所有文件夹及里面的子文件夹
				/*是所有文件夹，不含子文件夹
				/是web项目的根目录 
				exclude-mapping 不拦截的url
			
			<mvc:mapping path="/" />
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/code"/> 
			<mvc:exclude-mapping path="/logout"/>  
			
			<bean class="com.crm.interceptor.CommonInterceptor"></bean>  
		</mvc:interceptor>
		当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法
	</mvc:interceptors> -->
	<bean id="multipartResolver"       
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"       
           />
           
	<!-- 方式1 -->
	<bean name="exampleJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.fly.task.TaskOne" />
		<property name="jobDataAsMap">
			<map>
				<entry key="timeout" value="5" />
			</map>
		</property>
	</bean>
	<bean id="cronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="exampleJob" />
		<!-- run every morning at 6 AM -->
		<!-- <property name="cronExpression" value="0 0 6 * * ?" /> -->
		<!-- <property name="cronExpression" value="0 0/1 * * * ?" /> --> <!-- 每分钟 -->
		<property name="cronExpression" value="0/2 * * * * ?" /> <!-- 每秒 -->
	</bean>           

     <!-- 总调度用于启动Spring定时器 -->  
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>  
                <ref bean="cronTrigger" />  
            </list>  
        </property>  
    </bean>
    
    <bean id="threadPoolTaskExecutor"
      class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
      <!-- 核心线程数，默认为1 -->
      <property name="corePoolSize" value="1" />

      <!-- 最大线程数，默认为Integer.MAX_VALUE -->
      <property name="maxPoolSize" value="10" />

      <!-- 队列最大长度，一般需要设置值>=notifyScheduledMainExecutor.maxNum；默认为Integer.MAX_VALUE
          <property name="queueCapacity" value="1000" /> -->

      <!-- 线程池维护线程所允许的空闲时间，默认为60s -->
      <property name="keepAliveSeconds" value="300" />

      <!-- 线程池对拒绝任务（无线程可用）的处理策略，目前只支持AbortPolicy、CallerRunsPolicy；默认为后者 -->
      <property name="rejectedExecutionHandler">
          <!-- AbortPolicy:直接抛出java.util.concurrent.RejectedExecutionException异常 -->
          <!-- CallerRunsPolicy:主线程直接执行该任务，执行完之后尝试添加下一个任务到线程池中，可以有效降低向线程池内添加任务的速度 -->
          <!-- DiscardOldestPolicy:抛弃旧的任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
          <!-- DiscardPolicy:抛弃当前任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
          <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
      </property>
    </bean>      
           
</beans>   